body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 0;
    padding: 0;
  }
  
  header, footer, .left-column, .right-column {
    padding: 20px;
  }
  
  header, footer {
    text-align: center;
    background-color: #333333;
    margin: 20px;
  }
  
  nav {
    background-color: #f0f0f0   ;
    color: #ffffff;
    padding: 200px;
    margin: 10px;
  }
  
  main {
    display: flex;
  }
  
  .timeline {
    background-color: #ffffff;
    flex: 2;
    padding: 20px;
    margin-right: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  article {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  article h2 {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    margin: 0;
  }
  
  .author {
    text-align: left;
    font-style: italic;
  }
  
  .date {
    text-align: left;
    font-weight: bold;
  }
  
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: underline;
  }
  